$darkBlue: #5161ac;
$lightBlue: #5ac0d6;
$yellow: #ffe01b;
$red: #e23940;
$darkRed: #d42d34;
$lightGrey: #b1b1b3;
$face: #ffdcb4;
$lightBrown: #bc6d4f;
$darkBrown: #7d351f;
$darkBrownHands: #582718;
$orange: #f47320;
$lightGreen: #6cc06a;
$darkGreen: #019b67;
$darkGreenTrausers: #006857;


@mixin circle($width, $height, $bg: transparent){
width: $width;
height: $height;
border-radius: 50%;
background: $bg;
}

@mixin position($top, $left, $pos: absolute){
top: $top;
left: $left;
position: $pos;
}

@mixin square($width, $height, $bg: transparent){
width: $width;
height: $height;
background: $bg;
}


@mixin blinkMy($startHight: $eyesSize, $endHeight: 0) {
  @keyframes blink {
    30%,
    70% {
      height: $startHight;
      margin: 0;
    }
    50% {
      height: $endHeight;
      margin: $startHight/2 auto;
    }
  }
}

 body {
 display: flex;
 justify-content: space-around;
 margin-top: 10%;
 box-sizing: border-box;
 position: relative;
}

.stan {
max-height: 450px;
}

.face {
	@include circle(220px, 228px, $face);
	position: relative;
	z-index: 1;
 }

 .hat {
 	@include circle(220px, 105px);
 	@include position(0, 0);
    border-top: 4.8em solid $darkBlue;
 }

 .hat-belt {
	@include circle(227px, 25px);
    border: 1.6em solid $red;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: none;
	@include position(30%, -13%);


 &::before {
    content: '';
    @include position(-22%,-12%);
    @include square(29px, 31px, white);
      }

 &::after {
    content: '';
    @include position(-22%, 99%);
    @include square(29px, 31px, white);
      }

 }

 .eyes {
 	display: flex;
 	justify-content: center;
 	@include position(41%, 25%);
 }

 .eye1 {
    @include circle(60px, 72px, white);
    display: flex;
 	justify-content: center;
 	box-shadow: 0 -2px 2px $lightGrey;
 	transform: rotate(32deg);

 &::after {
    content: '';
    @include position(37%, 57%);
    @include circle(7px, 7px, black);
      }
}

.eye2 {transform: rotate(-32deg);
 &::after {
    left: 24%;
    top: 34%;
      }
}

.mouth {
	@include square(32px, 9px);
    border-radius: 12px 6px 6px 0px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(5deg);
    @include position (85%, 44%);
}

.pompon {
	@include circle(50px, 7px, $red);
    border: 2px solid $darkRed;
    border-radius: 38%;
    list-style-type: none;
    @include position (-81%, 37%);
        transform: rotate(-18deg);

    &:nth-of-type(1) {
    	transform: rotate(8deg);
    }
     &:nth-of-type(2) {
    	transform: rotate(44deg);
    }
     &:nth-of-type(3) {
    	transform: rotate(118deg);
    }
     &:nth-of-type(5) {
    	transform: rotate(66deg);
    }

}

.body {
	@include position(-8%, 7%);
	position: relative;
}
.coat {
	@include circle(180px, 120px, $lightBrown);
	    border-radius: 50% 50% 18px 18px;


	 &:before {
	content: '';
	@include circle(14px, 28px);
    @include position(43%, 6%);
    border-left: 2px solid black;
    transform: rotate(17deg);
 }

 	 &:after {
	content: '';
	@include circle(10px, 28px);
    @include position(46%, 69%);
    border-right: 2px solid black;
    transform: rotate(-16deg);
 }

 ul {
 	@include position(19%, 24%);
 }
}

.button {
	    margin-bottom: 10px;
}
.line {    
	height: 89px;
    border-left: 3px solid black;
	@include position(26%, 43%);
}

.handLeft {
	@include circle(0, 36px);
    border: 1.6em solid $lightBrown;
    @include position(3%, -6%);
    border-radius: 95% 0 0;
    transform: rotate(-3deg);

}

.handRight {
	transform: rotate(-6deg);
    left: 65%;
    border-radius: 0 97% 0 0;
}

.hand1 {
	@include circle(36px, 36px, $red);
    @include position(57%, -8%);

 &:after {
	content: '';
	@include circle(11px, 11px, $red);
    @include position(15%, 66%);
    border: 2px solid $darkRed;
 }

}

.hand2 {
	left: 74%;
    top: 61%;

 &:after {
	left: -13%;

 }

}

.collar1 {
	@include circle(66px, 16px, $red);
    transform: rotate(19deg);
    @include position(15%, 14%);
}
.collar2 {
	    transform: rotate(-19deg);
	        left: 44%;
}
.leg {
	@include square(163px, 21px, $darkBlue);
    @include position(97%, 4%);
}

.footleft {
	@include circle(100px, 9px, black);
	border-radius: 50% 50% 0 0/100% 100% 0 0;
	@include position(63%, -6%);
}

.footright {
	    left: 45%;

}

/*kyle*/

.kyle {
	.coat {
		background: $orange;
	}

	.handLeft {
		    border: 1.6em solid  $orange;
	}

	.hand1 {background: $lightGreen;
	 &:after {
	background: $lightGreen;
    border: 2px solid $darkGreen;
 }
	}

	.leg {
		background: $darkGreenTrausers;
	}

	.collar1 {
		background: $darkGreen;
	}
}

.kyle-hat {
	@include square(215px, 85px, $lightGreen);
    @include position(-3%, 1%);
    border-radius: 19% 19% 0 0/100%;
}

.hat-ears {
	@include circle(115px, 44px, $lightGreen);
	@include position(118%, -28%);
    transform: rotate(-70deg);
    border-right: 2px solid  $darkGreen;
}

.hat-ears2 {
	left: 72%;
    transform: rotate(70deg);
    border-left: 2px solid  $darkGreen;
    border-right: none;
}

.hat-ears3 {
	@include square (188px, 43px, $darkGreen);
	@include position(48%, 5%);
  }


   .kyle-hat-belt {
	@include square(183px, 11px);
    border: 1.4em solid $darkGreen;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: none;
	@include position(81%, -5%);


 &::before {
    content: '';
    @include position(-75%,-13%);
    @include square(23px, 24px, $lightGreen);
        border-radius: 50% 0 0;
      }

 &::after {
    content: '';
    @include position(-69%, 102%);
    @include square(22px, 30px, $lightGreen);
    border-radius: 0 50%;
      }

 }

.pocket {
	@include position(39%, 21%);
    @include square(29px, 34px);
        border: 2px solid black;

    &::after {
    content: '';
    @include position(-32%, 12%);
    @include square(20px, 20px);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
      }
}

.pocket2 {
	left: 51%;
}
/*kenny*/

.kenny {
	.coat {
		background: $orange;
		    border-bottom: 2px solid rgba(188, 109, 79, 0.33);
	}

	.handLeft {
		    border: 1.6em solid  $orange;
	}

	.hand1 {background: $darkBrown;
	 &:after {
	background: $darkBrown;
    border: 2px solid $darkBrownHands;
 }
	}

	.leg {
		background: $orange;
		z-index: -1;
	}

}

.foot {
	@include position(72%, -5%);
    @include square(180px, 8px, black);
        border-radius: 5px;
}

.hood {
	@include position(0, 0);
    @include circle(224px, 230px);
    border: 3em solid $orange;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(125, 53, 31, 0.44);
}

.hood-hair {
	@include position(-1%, -10%);
    @include square(155px, 157px);
    border-radius: 62px;
    border: 2em solid $darkBrown;
    box-sizing: border-box;
 &::before {
    content: '';
    @include position(-30%,7%);
    @include square(0, 0);
        border-left: 38px solid transparent;
    border-right: 39px solid transparent;
    border-bottom: 39px solid $face;
      }

 &::after {
    content: '';
    @include position(93%, 12%);
    @include square(0, 0);
    border-left: 34px solid transparent;
    border-right: 35px solid transparent;
    border-top: 36px solid $face;
      }

}
.hood-line {
	@include position(2%, -21%);
    @include circle(178px, 168px);
    border: 1px solid black;
}

.line1 {
@include position(111%, -18%);
    @include square(84px, 28px);
    border-right: 2px solid black;
    border-radius: 0 0 19% 19% /100%;
    transform: rotate(8deg);

}

.line2 {
	@include position(116%, 47%);
    @include square(11px, 26px);
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 219% /100%;
    transform: rotate(12deg);

 &::after {
    content: '';
    @include position(70%, 93%);
    @include circle(13px, 9px);
    border-bottom: 2px solid black;
    transform: rotate(62deg);
      }

}

/*kartman*/
.kartman {
 .face {
 	width: 260px;
    height: 212px;

 } 
 .eyes {
 	top: 37%;
 }

.coat {
	width: 317px;
	background: $red;
}



}

.kartman-body {
	@include position(-8%, -7%);
	position: relative;
}
.kartman-leg {
	border-top: 39px solid $darkBrown;
	border-left: 13px solid transparent;
	border-right: 11px solid transparent;
	@include square(245px, 0);
	@include position(97%, 8%);
	z-index: -1;
}


.kartman-footleft {
	@include circle(150px, 9px, black);
	border-radius: 50% 50% 0 0/100% 100% 0 0;
	@include position(60%, -6%);
}

.kartman-footright {
	left: 45%;
}

.kartman-hat {
	@include circle(256px, 107px);
 	@include position(0, 2px);
    border-top: 4.2em solid $lightBlue;
}



 .kartman-hat-belt {
	@include circle(260px, 25px);
    border: 0.6em solid $yellow;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: none;
	@include position(30%, -3%);


 &::before {
    content: '';
    @include position(42%,-6%);
    @include square(14px, 20px, white);
    z-index: 1;
      }

 &::after {
    content: '';
    @include position(41%, 99%);
    @include square(14px, 20px, white);
    z-index: 1;
      }

 }

 .kartman-hat-belt2 {
	@include circle(258px, 25px);
    border: 0.2em solid $lightGrey;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: none;
	@include position(1%, -2%);
}

.kartman-pompon {
	list-style-type: none; 
	@include circle(77px, 17px, $yellow);
    @include position(-70%, 32%);
}

.kartman-pompon1 {
	list-style-type: none; 
	@include circle(25px, 26px, $yellow);
    @include position(-75%, 46%);
    border-radius: 0 50% 50%;
}

.kartman-pompon2 {
	list-style-type: none; 
	@include circle(16px, 23px, $yellow);
    @include position(-71%, 40%);
    border-radius: 50% 50% 50% 20%;
    transform: rotate(-19deg);
}

.kartman-pompon3 {
	list-style-type: none; 
	@include circle(23px, 15px, $yellow);
    @include position(-66%, 30%);
    border-radius: 76% 0 73% 20%;
}