$darkBlue: #5161ac;
$lightBlue: #5ac0d6;
$yellow: #ffe01b;
$red: #e23940;
$darkRed: #d42d34;
$lightGrey: #b1b1b3;
$face: #ffdcb4;
$lightBrown: #bc6d4f;
$darkBrown: #7d351f;
$darkBrownHands: #582718;
$orange: #f47320;
$lightGreen: #6cc06a;
$darkGreen: #019b67;
$darkGreenTrausers: #006857;
$cloud: #25262b;


$ss: -webkit-linear-gradient(left, #131960 1%,#0f121c 100%);

@mixin circle($width, $height, $bg: transparent){
width: $width;
height: $height;
border-radius: 50%;
background: $bg;
}

@mixin position($top, $left, $pos: absolute){
top: $top;
left: $left;
position: $pos;
}

@mixin square($width, $height, $bg: transparent){
width: $width;
height: $height;
background: $bg;
}


@mixin blinkMy($startHight: $eyesSize, $endHeight: 0) {
  @keyframes blink {
    30%,
    70% {
      height: $startHight;
      margin: 0;
    }
    50% {
      height: $endHeight;
      margin: $startHight/2 auto;
    }
  }
}

 body {
 display: flex;
 justify-content: space-around;
 margin-top: 10%;
 box-sizing: border-box;
}

.stan {
max-height: 450px;
}

.face {
	@include circle(220px, 228px, $face);
	position: relative;
	z-index: 1;
 }

 .hat {
 	@include circle(220px, 105px);
 	@include position(0, 0);
    border-top: 4.8em solid $darkBlue;
 }

 .hat-belt {
	@include circle(227px, 25px);
    border: 1.6em solid $red;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: none;
	@include position(30%, -13%);


 &::before {
    content: '';
    @include position(-22%,-12%);
    @include square(29px, 31px, white);
      }

 &::after {
    content: '';
    @include position(-22%, 99%);
    @include square(29px, 31px, white);
      }
 }

 .eyes {
 	display: flex;
 	justify-content: center;
 	@include position(41%, 25%);
 }

 .eye1 {
    @include circle(60px, 72px, white);
    display: flex;
 	justify-content: center;
 	box-shadow: 0 -2px 2px $lightGrey;
 	transform: rotate(32deg);

 &::after {
    content: '';
    @include position(37%, 57%);
    @include circle(7px, 7px, black);
}
}

.eye2 {transform: rotate(-32deg);
 &::after {
    left: 24%;
    top: 34%;
      }
}

.mouth {
	@include square(32px, 9px);
    border-radius: 0 0 0 29px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(-5deg);
    @include position (85%, 44%);
}

.pompon {
	@include circle(50px, 7px, $red);
    border: 2px solid $darkRed;
    border-radius: 38%;
    list-style-type: none;
    @include position (-81%, 37%);
        transform: rotate(-18deg);

    &:nth-of-type(1) {
    	transform: rotate(8deg);
    }
     &:nth-of-type(2) {
    	transform: rotate(44deg);
    }
     &:nth-of-type(3) {
    	transform: rotate(118deg);
    }
     &:nth-of-type(5) {
    	transform: rotate(66deg);
    }

}

.body {
	@include position(-8%, 7%);
	position: relative;
}
.coat {
	@include circle(180px, 120px, $lightBrown);
	    border-radius: 50% 50% 18px 18px;

	 &:before {
	content: '';
	@include circle(14px, 28px);
    @include position(43%, 6%);
    border-left: 2px solid black;
    transform: rotate(17deg);
 }

 	 &:after {
	content: '';
	@include circle(10px, 28px);
    @include position(46%, 69%);
    border-right: 2px solid black;
    transform: rotate(-16deg);
 }

 ul {
 	@include position(19%, 24%);
 }
}

.button {
	    margin-bottom: 10px;
}

.line {    
	height: 89px;
    border-left: 3px solid black;
	@include position(26%, 43%);
}

.handLeft {
	@include circle(0, 36px);
    border: 1.6em solid $lightBrown;
    @include position(5%, -6%);
    border-radius: 106% 0 0;
    transform: rotate(-3deg);
}

.handRight {
	transform: rotate(-6deg);
    left: 65%;
    border-radius: 0 97% 0 0;
}

.hand1 {
	@include circle(36px, 36px, $red);
    @include position(57%, -8%);

 &:after {
	content: '';
	@include circle(11px, 11px, $red);
    @include position(15%, 66%);
    border: 2px solid $darkRed;
 }

}

.hand2 {
	left: 74%;
    top: 61%;

 &:after {
	left: -13%;
 }

}


@mixin hello($startheight, $endheight, $startposition, $endposition, $startdeg, $enddeg){
@keyframes wag {
    10%, 30% {
        transform: rotate($startdeg);
        @include circle(36px, $endheight, $red);
        @include position($endposition, -8%);
    }
    20%, 40% {
        transform: rotate($enddeg);
    }
    50% {
        transform: rotate($startdeg);
        @include circle(36px, $startheight, $red);
    @include position($startposition, -8%);
    }
}
}

@mixin hello1(){
@keyframes wag1 {
    10%, 30% {
        transform: rotate(-25deg);
        @include circle(21px, 11px, $red);
        @include position(50%, 57%);
    }
    20%, 40% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(-25deg);
        @include circle(11px, 11px, $red);
    @include position(5%, 57%);
    }
}
}

.hand-animation {
    @include hello(36px, 48px, 57%, 47%, 0deg, -30deg);
    animation: wag 5s linear infinite;

    &:after {
    @include hello1;
    animation: wag1 5s linear infinite;
 }
}

.collar1 {
	@include circle(66px, 16px, $red);
    transform: rotate(19deg);
    @include position(15%, 14%);
}
.collar2 {
	    transform: rotate(-19deg);
	        left: 44%;
}
.leg {
	@include square(163px, 21px, $darkBlue);
    @include position(97%, 4%);
}

.footleft {
	@include circle(100px, 9px, black);
	border-radius: 50% 50% 0 0/100% 100% 0 0;
	@include position(63%, -6%);
}

.footright {
	    left: 45%;
}

/*kyle*/

.kyle {
	.coat {
		background: $orange;
	}

	.handLeft {
		    border: 1.6em solid  $orange;
	}

	.hand1 {background: $lightGreen;
	 &:after {
	background: $lightGreen;
    border: 2px solid $darkGreen;
 }
	}

	.leg {
		background: $darkGreenTrausers;
	}

	.collar1 {
		background: $darkGreen;
	}
}

.kyle-hat {
	@include square(215px, 85px, $lightGreen);
    @include position(-3%, 1%);
    border-radius: 19% 19% 0 0/100%;
}

.hat-ears {
	@include circle(115px, 44px, $lightGreen);
	@include position(118%, -28%);
    transform: rotate(-70deg);
    border-right: 2px solid  $darkGreen;
}

.hat-ears2 {
	left: 72%;
    transform: rotate(70deg);
    border-left: 2px solid  $darkGreen;
    border-right: none;
}

.hat-ears3 {
	@include square (188px, 43px, $darkGreen);
	@include position(48%, 5%);
  }


   .kyle-hat-belt {
	@include square(183px, 11px);
    border: 1.4em solid $darkGreen;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: none;
	@include position(81%, -5%);


 &::before {
    content: '';
    @include position(-75%,-13%);
    @include square(23px, 24px, $lightGreen);
        border-radius: 50% 0 0;
      }

 &::after {
    content: '';
    @include position(-69%, 102%);
    @include square(22px, 30px, $lightGreen);
    border-radius: 0 50%;
      }

 }

.pocket {
	@include position(39%, 21%);
    @include square(29px, 34px);
        border: 2px solid black;

    &::after {
    content: '';
    @include position(-32%, 12%);
    @include square(20px, 20px);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg);
      }
}

.pocket2 {
	left: 51%;
}
/*kenny*/

.kenny {
	.coat {
		background: $orange;
		    border-bottom: 2px solid rgba(188, 109, 79, 0.33);
	}

	.handLeft {
		    border: 1.6em solid  $orange;
	}

	.hand1 {background: $darkBrown;
	 &:after {
	background: $darkBrown;
    border: 2px solid $darkBrownHands;
 }
	}

	.leg {
		background: $orange;
		z-index: -1;
	}

}

.foot {
	@include position(72%, -5%);
    @include square(180px, 8px, black);
        border-radius: 5px;
}

.hood {
	@include position(0, 0);
    @include circle(224px, 230px);
    border: 3em solid $orange;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(125, 53, 31, 0.44);
}

.hood-hair {
	@include position(-1%, -10%);
    @include square(155px, 157px);
    border-radius: 62px;
    border: 2em solid $darkBrown;
    box-sizing: border-box;
 &::before {
    content: '';
    @include position(-30%,7%);
    @include square(0, 0);
        border-left: 38px solid transparent;
    border-right: 39px solid transparent;
    border-bottom: 39px solid $face;
      }

 &::after {
    content: '';
    @include position(93%, 14%);
    @include square(0, 0);
    border-left: 34px solid transparent;
    border-right: 32px solid transparent;
    border-top: 36px solid $face;
      }

}
.hood-line {
	@include position(2%, -21%);
    @include circle(178px, 168px);
    border: 1px solid black;
}

.line1 {
@include position(111%, -18%);
    @include square(84px, 28px);
    border-right: 2px solid black;
    border-radius: 0 0 19% 19% /100%;
    transform: rotate(8deg);
}

.line2 {
	@include position(116%, 47%);
    @include square(11px, 26px);
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 219% /100%;
    transform: rotate(12deg);

 &::after {
    content: '';
    @include position(70%, 93%);
    @include circle(13px, 9px);
    border-bottom: 2px solid black;
    transform: rotate(62deg);
      }

}



@mixin hello($startheight, $endheight, $startposition, $endposition, $startdeg, $enddeg){
@keyframes wag {
    10%, 30% {
        transform: rotate($startdeg);
        @include circle(36px, $endheight, $red);
        @include position($endposition, -8%);
    }
    20%, 40% {
        transform: rotate($enddeg);
    }
    50% {
        transform: rotate($startdeg);
        @include circle(36px, $startheight, $red);
    @include position($startposition, -8%);
    }
}
}


.hand-animation {
    /*@include hello(36px, 48px, 57%, 47%, 0deg, -30deg);
    animation: wag 5s linear infinite;*/

}


/*kartman*/
.kartman {
 .face {
 	width: 260px;
    height: 212px;
    top: 6%;
    left: 3%;

 } 
 .eyes {
 	top: 37%;
 }

.coat {
	width: 317px;
	background: $red;
    border-radius: 50% 50% 34% 22%;
    height: 162px;

    &:before {
    display: none;
 }

     &:after {
   display: none;
}



}
}

.kartman-body {
	@include position(-15%, -8px);
	position: relative;
}
.kartman-leg {
	border-top: 39px solid $darkBrown;
	border-left: 13px solid transparent;
	border-right: 11px solid transparent;
	@include square(258px, 0);
	@include position(87%, 3%);
	z-index: -1;
}


.kartman-footleft {
	@include circle(150px, 9px, black);
	border-radius: 50% 50% 0 0/100% 100% 0 0;
	@include position(-6px, -6%);
}

.kartman-footright {
	left: 45%;
}

.kartman-hat {
	@include circle(256px, 107px);
 	@include position(0, 2px);
    border-top: 4.2em solid $lightBlue;
}



 .kartman-hat-belt {
	@include circle(260px, 25px);
    border: 0.6em solid $yellow;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: none;
	@include position(30%, -3%);


 &::before {
    content: '';
    @include position(42%,-6%);
    @include square(14px, 20px, white);
    z-index: 1;
      }

 &::after {
    content: '';
    @include position(41%, 99%);
    @include square(14px, 20px, white);
    z-index: 1;
      }

 }

 .kartman-hat-belt2 {
	@include circle(258px, 25px);
    border: 0.2em solid $lightGrey;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    border-bottom: none;
	@include position(1%, -2%);
}

.kartman-pompon {
	list-style-type: none; 
	@include circle(77px, 17px, $yellow);
    @include position(-70%, 32%);
}

.kartman-pompon1 {
	list-style-type: none; 
	@include circle(25px, 26px, $yellow);
    @include position(-75%, 46%);
    border-radius: 0 50% 50%;
}

.kartman-pompon2 {
	list-style-type: none; 
	@include circle(16px, 23px, $yellow);
    @include position(-71%, 40%);
    border-radius: 50% 50% 50% 20%;
    transform: rotate(-19deg);
}

.kartman-pompon3 {
	list-style-type: none; 
	@include circle(23px, 15px, $yellow);
    @include position(-66%, 30%);
    border-radius: 76% 0 73% 20%;
}

.kartman-double-chin {
    @include square(47px, 15px);
    @include position(84%, 42%);
    border-bottom: 2px solid black;
    border-radius: 30%;
}

.kartman-double-chin-big {
    @include position(85%, 40%);
    @include square(63px, 23px);
    border-bottom: 2px solid black;
    border-radius: 0 48% 50% 0;
    transform: rotate(3deg);

&::before {
    content: '';
    @include position(-33%, -127%);
    @include square(104px, 22px);
    border-bottom: 2px solid black;
    border-radius: 44% 84%;
    transform: rotate(16deg);
      }

&::after {
    content: '';
    @include position(-188%, 54%);
    @include square(88px, 44px);
    border-bottom: 2px solid black;
    border-radius: 0 0 10% 12%;
    transform: rotate(-33deg);
      }
    
      }

.kartman-mouth-position {
    @include square(32px, 9px);
    border-radius: 12px 6px 6px 0px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    @include position (85%, 44%);
    transform: rotate(13deg);
}

.kartman-hand1 {
    @include square(63px, 44px, $yellow);
    @include position(36%, -8%);
    border-radius: 54% 162% 33% 89%;
}

.kartman-hand2 {
    @include square(47px, 52px, $yellow);
    @include position(30%, 88%);
    border-radius: 28% 12% 54% 50%;
    transform: rotate(-8deg);

    &::after {
    content: '';
    @include position(22%, -38%);
    @include square(42px, 28px, $yellow);
    border-radius: 46% 0 0 79%;
    transform: rotate(-46deg);
    }
}

.kartman-handLeft {
    @include square(35px, 74px, $red);
    @include position(4%, -1%);
    border-radius: 50% 0% 0;
    transform: rotate(36deg);
}

.kartman-handRight {
    left: 83%;
    transform: rotate(-39deg);
    border-radius: 0 66%;
    height: 64px;

}

.kartman-line {
    @include square(23px, 50px);
    @include position(58%, 43%);
    border-right: 2px solid black;
    border-radius: 30%;

    &::before {
    content: '';
    @include position(-32%, 79%);
    @include square(10px, 21px);
    border-left: 2px solid black;
    border-radius: 40%;
      }

&::after {
    content: '';
    @include position(86%, 71%);
    @include square(9px, 27px);
    border-left: 2px solid black;
    border-radius: 55% 12%;
    transform: rotate(9deg);
      }
}

.kartman-button {
    list-style-type: none;

&::before {
    content: '';
    @include position(-32%, 168%);
    @include square(5px, 9px, black);
    border-radius: 50%;
    z-index: 1;
      }

      &:nth-of-type(1) {
        &::before {
        top: 40px;
    }
    }
     &:nth-of-type(2) {
        &::before {
        top: 68px;
        left: 180%;
    }
    }
     &:nth-of-type(3) {
        &::before {
        top: 95px;
    }
    }
}


.rainy-wrapper {
    display: flex;
}
@mixin gloss(){
@keyframes flash {
    0%, 60%, 75% {
        transform: rotate(-9deg) translateX(68px);
        opacity: 0;
    }
    50%, 70%, 100% {
        transform: rotate(-23deg) translateX(30px);
        
        opacity: 1;
    }
}
}
.rainy {
    -webkit-animation: rainy 5s ease-in-out  1s;
    animation: rainy 5s ease-in-out  1s;
    box-shadow: 
        70px -24px 0 3px $cloud, 
        28px -25px 0px 8px $cloud, 
        35px 14px $cloud,
        67px 7px 0 -4px $cloud;
    @include circle(150px, 45px, $cloud);
    margin: -100px -137px;
    position: relative;


    &::before {
        -webkit-animation: rainy-drops .7s infinite linear;
        animation: rainy-drops .7s infinite linear;
        content: '';
        display: block;
        @include circle(3px, 5px);
        opacity: 0.5;
      }

    &::after {
        -webkit-animation: rainy-drops .5s infinite linear .5s;
        animation: rainy-drops .5s infinite linear .5s;
        content: '';
        @include circle(3px, 5px);
        display: block;
        left: 37%;
        position: absolute;
      }


}

.lightning {
    @include gloss;
    @include position(0, 75px);
    @include square(16px, 54px);
    border-right: 4px solid #ffe01b;
    border-bottom: 4px solid #ffe01b;
    transform: rotate(-33deg) translateX(-30px);
    animation: flash 3s linear infinite both;
    box-shadow: 6px 6px 11px 0px white;
    z-index: 1;

    &::after {
    content: '';
    @include position(100%, 0%);
    @include square(4px, 27px);
    border-left: 4px solid $yellow;
    transform: rotate(-2deg);
    box-shadow: -7px 4px 6px 0px white;
      }
}

.puddle {
    -webkit-animation: rainy-puddle 7s ease-in-out infinite 1s;
    animation: rainy-puddle 7s ease-in-out infinite 1s;
    background: $darkBlue;
    @include circle(120px, 15px, $darkBlue);
    @include position(50%, 83%);
    opacity: 0.5;
    z-index: -2;
    box-shadow: inset 0 0 1em $lightGreen;
}


@keyframes rainy {
    0% {  transform: translateX(200px); }
    100% { transform: translateX(0px); }
}


@keyframes rainy-puddle {
    10% {   
        bottom: 51%;
        transform: scale(1.3);
    }
    40% {   
        transform: scale(1.7);
    }
    100% { 
            bottom: 53%;
            transform: scale(2);
        }
}

@keyframes rainy-drops {
    0%,51%, 98% {  
        box-shadow:
            $darkBlue 30px 95px,
            $darkBlue 40px 60px,
            $darkBlue 50px 110px,
            $darkBlue 55px 65px,
            $darkBlue 110px 70px,
            $darkBlue 90px 60px;
    }

    50%{  
        box-shadow: 
            $darkBlue 50px 175px, 
            $darkBlue 55px 150px, 
            $darkBlue 70px 190px, 
            $darkBlue 80px 195px, 
            $darkBlue 110px 145px, 
            $darkBlue 90px 135px;
    }    
}